.booking--background {
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: $color-solitude;
  min-height: 555px;
  background-image: url("../img/booking-background-desktop.webp");

  @media (min-resolution: 2dppx) {
    background-image: url("../img/booking-background-desktop@2x.webp");
  }

  @media (max-width: $vp-1023) {
    min-height: 805px;
    background-image: url("../img/booking-background-tablet.webp");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/booking-background-tablet@2x.webp");
    }
  }

  @media (max-width: $vp-767) {
    min-height: 760px;
    background-image: url("../img/booking-background-mobile.webp");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/booking-background-mobile@2x.webp");
    }
  }
}

.booking__wrapper {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  max-width: #{"min(76%, 1040px)"};
  min-height: 555px;
  margin: auto;
  padding: 50px 0;

  @media (max-width: $vp-1023) {
    max-width: #{"min(55%, 419px)"};
    min-height: 805px;
    flex-direction: column;
    padding: 89px 0 100px;
  }

  @media (max-width: $vp-767) {
    max-width: #{"min(90%, 738px)"};
    min-height: 760px;
    padding: 59px 0 65px;
  }
}

.booking__promo {
  max-width: #{"min(48%, 493px)"};
  padding: 162px 0;

  @media (max-width: $vp-1023) {
    max-width: 100%;
    padding: 0;
    margin-bottom: 50px;
  }

  @media (max-width: $vp-767) {
    margin-bottom: 35px;
  }
}

.booking__promo h2 {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  color: $color-tangaroa;

  @media (max-width: $vp-1023) {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 34px;
    line-height: 51px;
    text-align: center;
  }

  @media (max-width: $vp-767) {
    margin-bottom: 13px;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
  }
}

.booking__promo p {
  margin: 0;
  max-width: 352px;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: $color-tangaroa;

  @media (max-width: $vp-1023) {
    margin: auto;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
  }

  @media (max-width: $vp-767) {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
  }
}

.booking__form {
  box-sizing: border-box;
  width: 403px;
  padding: 45px 50px 50px;
  background-color: $color-tangaroa;

  @media (max-width: $vp-1023) {
    align-self: center;
  }

  @media (max-width: $vp-767) {
    width: 100%;
    min-height: 460px;
    padding: 35px 30px 40px;
  }
}
