.form p {
  margin: 0;
  margin-bottom: 28px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: $color-alice-blue;

  @media (max-width: $vp-767) {
    min-height: 75px;
    max-width: 303px;
    margin: 0 auto 27px;
    line-height: 25px;
    text-align: center;
  }
}

form input {
  box-sizing: border-box;
  width: 100%;
  height: 43px;
  padding: 11px 16px;
  margin-bottom: 19px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: $color-tangaroa;
  background-color: $color-alice-blue;
  border: none;

  @media (min-width:$vp-1366) {
    &:hover,
    &:focus {
      box-shadow: inset 0 0 1px 2px $color-tangaroa-transparent;
      outline: none;
    }
  }
}

form input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: $color-tangaroa-transparent;
}

.form__checkbox {
  position: relative;
  margin-left: auto;
  margin-bottom: 26px;

  @media (max-width: $vp-767) {
    display: flex;
    margin-bottom: 29px;
    min-height: 24px;
  }
}

.form__checkbox input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form__checkbox label {
  padding-left: 22px;
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  color: $color-alice-blue;
  cursor: pointer;
  user-select: none;

  &::before {
    position: absolute;
    content: "";
    top: 3px;
    left: -1px;
    width: 18px;
    height: 18px;
    background-color: $color-alice-blue;

    @media (max-width: $vp-767) {
      width: 20px;
      height: 20px;
    }
  }

  @media (max-width: $vp-767) {
    align-self: center;
    padding-left: 29px;
    line-height: 12px;
  }
}

.form__checkbox input:hover + label::before,
.form__checkbox input:focus + label::before {
  box-shadow: inset 0 0 1px 1.5px $color-tangaroa-transparent;
  outline: none;
}

.form__checkbox input:checked + label::after {
  position: absolute;
  content: "";
  left: 2px;
  top: 8px;
  width: 18px;
  height: 18px;
  background: url("../img/sprite/checkmark-form-icon.svg");
  background-repeat: no-repeat;

  @media (max-width: $vp-767) {
    width: 20px;
    height: 20px;
  }
}

.form__button {
  box-sizing: border-box;
  width: 100%;
  padding: 11px;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: $color-tangaroa;
  border: none;
  cursor: pointer;
  user-select: none;

  @media (min-width:$vp-1366) {
    &:hover,
    &:focus {
      opacity: 0.6;
      outline: none;
    }
  }

  &:active {
    opacity: 0.3;
  }
}
