.inner-header--background {
  width: 100%;
  min-height: 650px;
  box-sizing: border-box;
  background-position: center;
  background-repeat: no-repeat;
  background-color: $color-tangaroa;
  background-size: cover;
  box-shadow: 0 0 4px 4px $color-black-transparent;
  background-image: url("../img/main-background-desktop.webp");

  @media (min-resolution: 2dppx) {
    background-image: url("../img/main-background-desktop@2x.webp");
  }

  @media (max-width: $vp-1365) {
    min-height: 638px;
    background-image: url("../img/main-background-tablet.webp");
    box-shadow: none;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/main-background-tablet@2x.webp");
    }
  }

  @media (max-width: $vp-767) {
    min-height: 500px;
    background-image: url("../img/main-background-mobile.webp");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/main-background-mobile@2x.webp");
    }
  }
}

.inner-header__wrapper {
  max-width: 970px;
  padding: 270px 0 268px;
  margin: 0 auto;

  @media (max-width: $vp-1365) {
    max-width: 678px;
    padding: 269px 0 271px;
    margin: 0 auto;
  }

  @media (max-width: $vp-767) {
    max-width: 290px;
    padding: 177px 0 153px;
    margin: 0 auto;
  }
}

.inner-header__wrapper h1 {
  margin: 0;
  margin-bottom: 13px;
  font-style: normal;
  font-weight: 700;
  font-size: 54px;
  line-height: 66px;
  color: $color-alice-blue;

  @media (max-width: $vp-1365) {
    margin-bottom: 17px;
    font-size: 50px;
    line-height: 61px;
  }

  @media (max-width: $vp-767) {
    margin-bottom: 11px;
    font-size: 36px;
    line-height: 125%;
  }
}

.inner-header__wrapper p {
  margin: 0;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: $color-alice-blue;

  @media (max-width: $vp-1365) {
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 10px;
  }

  @media (max-width: $vp-767) {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 140%;
  }
}
