.main__intro {
  display: flex;
  justify-content: space-between;

  max-width: 1366px;
  margin: auto;
  box-sizing: border-box;
  padding: 120px 103px 81px;

  @media (max-width: $vp-1365) {
    width: 768px;
    align-items: center;
    margin: 0 auto;
    padding: 91px 45px 83px;
  }

  @media (max-width: $vp-767) {
    width: 320px;
    flex-direction: column;
    padding: 57px 15px;
  }
}
