.page-header__wrapper {
  position: relative;
  width: 1366px;
  margin: auto;

  @media (max-width: $vp-1365) {
    width: 768px;
  }

  @media (max-width: $vp-767) {
    width: 100%;
    margin: auto;
  }
}

.page-header__main-nav {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  margin: auto;
  box-sizing: border-box;
  width: 1366px;
  padding: 33px 91px 35px 103px;
  background-color: transparent;

  @media (max-width: $vp-1365) {
    width: 768px;
    padding: 27px 27px 27px 46px;
  }

  @media (max-width: $vp-767) {
    width: 100%;
    padding: 0;
  }
}
