.page-header__wrapper {
  position: relative;

  @media (max-width: $vp-767) {
    width: 100%;
    margin: auto;
  }
}

.page-header__main-nav {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  margin: auto;
  box-sizing: border-box;
  max-width: #{"min(86%, 1180px)"};
  padding: 33px 0 35px;
  background-color: transparent;

  @media (max-width: $vp-1023) {
    max-width: #{"min(92%, 941px)"};
    padding: 19px 0;
  }

  @media (max-width: $vp-767) {
    max-width: #{"min(99%, 738px)"};
    padding: 0;
  }
}
