.social__list {
  display: flex;
  flex-wrap: wrap;
  max-width: 206px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social__link {
  padding: 11px 14px;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.6;
    outline: none;
  }

  @media (max-width: $vp-1023) {
    padding: 10px 11px;

    &:hover {
      opacity: 1;
    }
  }
}

.social__link svg {
  vertical-align: baseline;
}


.social__link--facebook svg {
  @media (max-width: $vp-1023) {
    width: 9px;
    height: 16px;
  }
}

.social__link--instagram svg {
  @media (max-width: $vp-1023) {
    width: 16px;
    height: 16px;
  }
}

.social__link--twitter svg {
  @media (max-width: $vp-1023) {
    width: 16px;
    height: 13px;
  }
}
